*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Arial';
}

.header{
  width: 100%;
  height: 650px;
  text-align: center;
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
  overflow: hidden;
  background-attachment: fixed;
  position: relative;
}

.img{
  margin-top: 100px;
  width: 350px;
}

.titulo{
  font-size: 80px;
  padding: 20px;
  color: #5c0585;
}

.enlace{
  display: inline-block;
  border: 1px solid #5c0585;
  text-decoration: none;
  color: #fff;
  background-color: #5c0585;
  border-radius: 10px;
  width: 160px ;
  padding: 10px 0;
}

.absolute{
  position: absolute;
  width: 100%;
  bottom: 0;
}

.menu{
  background: steelblue;
  height: 80px;
  text-align: right;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.menu a{
  text-decoration: none;
  color: #fff;
  line-height: 80px;
  margin-right: 30px;
}

.menu a:hover{
  text-decoration: underline;
}

.scroll{
  height: 400px;
}