*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img{
  display: block;
  background: steelblue;
  width: 200px;
  height: 200px;
  margin: 20px auto;
  object-fit: cover;
  color: white;
  /*border-style: ;*/
  box-shadow: 10px 10px 12px rgb(37, 36, 36);
}