
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.en-linea{
  display: block;
  width: 500px;
  height: 150px;
  border: 5px solid #000;
}

.bloque{
  background: teal;
  color: white;
}

.padding{
  /*padding: 40px;*/
  /*border: 10px solid #000;*/
  /* Los elementos en linea no pueden usar el width ni el heigth. La manera de implementar es con la propiedas 
  display con sus valores de
  inline (por default)
  block
  inline-block
  */
  margin: 40px;
  background: orange;
}