
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.en-linea{
  /*display: block;*/
  display: inline-block; /* Es una combinación de ambos elementos, block y en linea*/
  width: 350px;
  height: 50px;
  border: 5px solid #000;
  text-align: center;
}

.bloque{
  background: teal;
  color: white;
}

.padding{
  /*padding: 40px;*/
  /*border: 10px solid #000;*/
  /* Los elementos en linea no pueden usar el width ni el heigth. La manera de implementar es con la propiedas 
  display con sus valores de
  inline (por default)
  block
  inline-block
  */
  margin: 20px;
  background: orange;
}